---
import Layout from "@layouts/Layout.astro";
import "@assets/app.css";
import Intro from "@sections/Intro.astro";
import Experience from "@sections/Experience.astro";
import Projects from "@sections/Projects.astro";
import Education from "@sections/Education.astro";
import Extra from "@sections/Extra.astro";
---

<Layout title="SergioAG | Desarrollador y Programador Web">
 <main class="px-4">
  <Intro />
  <Experience />
  <Projects />
  <Education />
  <Extra />
 </main>
</Layout>
