---
import Layout from "../layouts/Layout.astro";
import "../assets/app.css";
import Intro from "../components/Intro.astro";
import Experience from "../components/Experience.astro";
import Proyects from "../components/Proyects.astro";
import Education from "../components/Education.astro";
---

<Layout title="SergioAG | Desarrollador y Programador Web">
 <main>
  <Intro />
  <Experience />
  <Proyects />
  <Education />
 </main>
</Layout>
