<div class="p-4 flex justify-center items-center">
 <a href="https://www.linkedin.com/in/sergioalfarogiron/" target="_blank">
  <span
   class="badge badge-outline badge-primary hover:bg-primary/20 hover:text-white transition duration-300 hover:scale-105 cursor-pointer border-primary text-sm md:text-base"
  >
   <slot />
  </span>
 </a>
</div>
