---
import ExperienceItem from "./ExperienceItem.astro";
import Briefcase from "./icons/Briefcase.astro";
import SectionContainer from "./SectionContainer.astro";
import { EXPERIENCE } from "../data/experience.js";
---

<SectionContainer id="experience">
 <h2
  class="text-4xl font-semibold text-primary/90 mb-6 flex gap-x-3 items-center"
 >
  <Briefcase class="size-7 text-white" />
  Experiencia Laboral
 </h2>
 <ol class="relative border-s border-default ml-2.5">
  {
   EXPERIENCE.map((experience) => (
    <li class="mb-10 ms-4">
     <ExperienceItem {...experience} />
    </li>
   ))
  }
 </ol>
</SectionContainer>
