---
import Image from "astro/components/Image.astro";
import SectionContainer from "@components/SectionContainer.astro";
import Badge from "@components/Badge.astro";
import SocialPill from "@components/SocialPill.astro";
import DocumentIcon from "@components/icons/DocumentIcon.astro";
import LinkedInIcon from "@components/icons/LinkedInIcon.astro";
import GitHubIcon from "@components/icons/GitHubIcon.astro";
import GmailIcon from "@components/icons/GmailIcon.astro";
---

<SectionContainer id="top" class="pt-44 pb-24">
 <main>
  <div class="w-full mx-auto justify-center items-center flex flex-col gap-2">
   <Image
    class="rounded-full mb-2 mx-auto flex justify-center items-center"
    src="https://avatars.githubusercontent.com/u/115676740?v=4"
    alt="Site Logo"
    width={150}
    height={150}
    class="logo"
   />
   <Badge>Disponible para Trabajar</Badge>
  </div>

  <h1
   class="mt-4 text-3xl lg:text-5xl md:text-4xl font-bold mb-4 dark:text-gray-200 text-gray-800 flex flex-row gap-x-4 pb-6 lg:pb-10"
  >
   Hola, Soy Sergio
   <a
    class="flex justify-center items-center"
    href="https://www.linkedin.com/in/sergioalfarogiron/"
    target="_blank"
   >
   </a>
  </h1>
  <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-2xl">
   Programador Web Junior. <span class="text-primary/90">
    De Albacete, España</span
   >
  </h2>

  <nav class="flex gap-4 mt-4 flex-wrap">
   <SocialPill
    href="/sergioag_cv.pdf"
    download="SergioAG - Web Developer CV.pdf"
   >
    <DocumentIcon class="size-2 md:size-4" />Descargar CV
   </SocialPill>
   <SocialPill href="https://www.linkedin.com/in/sergioalfarogiron/">
    <LinkedInIcon class="size-2 md:size-4" />LinkedIn
   </SocialPill>
   <SocialPill href="https://github.com/SergioAG21">
    <GitHubIcon class="size-2 md:size-4" />GitHub
   </SocialPill>
   <SocialPill href="mailto:sergiogiron44@gmail.com">
    <GmailIcon class="size-2 md:size-4" />Contáctame
   </SocialPill>
  </nav>
 </main>
</SectionContainer>
