---
import "@fontsource-variable/onest";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
 title: string;
 description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={description} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
 </head>
 <body class="overflow-x-hidden">
  <div class="relative h-full w-full bg-slate-950 hidden dark:block">
   <div
    class="absolute bottom-0 left-[-20%] right-0 top-[-10%] size-125 rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
   >
   </div>

   <div
    class="absolute bottom-0 right-[-20%] top-[-10%] size-125 rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
   >
   </div>
  </div>

  <Header />
  <slot />
  <Footer />
 </body>
</html>

<!-- #TODO Añadir lo del metaData -->

<style is:global>
 html {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
 }

 body {
  color: rgba(17, 17, 17, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  margin: 0 auto;
 }

 p {
  margin-bottom: 16px;
 }

 @media (prefers-reduced-motion: reduce) {
  html {
   scroll-behavior: auto;
  }
 }

 @media (prefers-color-scheme: dark) {
  body {
   color: rgba(255, 255, 255, 0.9);
  }
 }
</style>
